html,
body {
	height: 100%;
	margin: 0;
}

#root {
	height: 100%;
}

::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .4); */
	background-color:  transparent;
  }
  ::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
	background-color: #2C3E50;
	border-radius: 10px;
  }

.parent-wrapper {
	height: 100%;
	background-color: #d6dad6;
}

.chat-container {
	max-width: 70em;
	margin: 10px auto;
	display: grid;
	grid-template-columns: 30% 70%;
	height: calc(100% - 20px);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}


.sidebar-wrapper {
	background-color: white;
}

.profile-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 0.5em;
	background-color: #eeeeee;
	align-items: center;
	border-right: 1px solid #b5b5b5;


}


.search-wrapper {
	/* display: flex; */
}

.userStrip-Wrapper {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	padding: 0.5em;
	border-bottom: 1px solid #efefef;
	cursor: pointer;
}

.userStrip-Wrapper:hover{
	background-color: #e9ebeb;
}

.avatar img {
	vertical-align: middle;
	height: 2em;
	width: 2em;
	border-radius: 50%;
}

.profile-img img {
	vertical-align: middle;
	height: 1.8em;
	width: 1.8em;
	border-radius: 50%;
}

.chat-sender-img img {
	vertical-align: middle;
	height: 1.8em;
	width: 1.8em;
	border-radius: 50%;
}

.chat-sender-profile {
	display: flex;
}

.sender-options-wrapper {
	display: flex;
}

.chat-profile-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em;
	background-color: #eeeeee;
}

.chat-wrapper {
	display: grid;
	grid-template-columns: 1fr 12fr 1fr;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* padding: 0.5em; */
	background-color: #eeeeee;
	box-sizing: border-box;
	align-items: center;
}

.options-wrapper {
	display: flex;
}

.friend-chat-wrapper {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.chat-history-wrapper {
	height: calc(100% - 5em - 1em);
	background: url(/assets/images/background.png);
	position: absolute;
	width: 100%;
	top: 3em;
	overflow-y: hidden;
  }

  .message-history-wrapper {
	bottom: 1em;
	position: absolute;
	width: 100%;
	overflow-x: hidden;
	height: 100%;
	overflow-y: auto;
  }

.tri-right.left-top:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -10px;
	right: auto;
	top: 0px;
	bottom: auto;
	border: 10px solid;
	border-color: white transparent transparent transparent;
	
  }

  /* TODO Will come back to this later */
  .sent-msg-wrapper {
	position: relative;
	width: 100%;
	height: auto;
	margin-right: 2em;
	margin-top: 1em;
	display: inline-block;
	right: 2em;
  }

  .sent-msg {
	float: right;
	display: inline-block;
	padding: 5px;
	background-color: #dcf8c6;
	border-radius: 5px;
  }


  .recieve-msg-wrapper {
	position: relative;
	width: 100%;
	height: auto;
	left: 2em;
	margin-top: 1em;
  }

  .recieve-msg {
	display: inline-block;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
  }

  .tri-right.right-top:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: -10px;
	top: 0px;
	bottom: auto;
	border: 10px solid;
	border-color: #dcf8c6 transparent transparent transparent;


	
  }


  input[name="chat-input"] {
	width: 100%;
	border-radius: 20px;
	border: 1px solid #d6d6d6;
	height: 2em;
	padding: 0 1em;
	box-sizing: border-box;
  }

  .chat-input-wrapper {
	padding: 0.5em;
	box-sizing: border-box;
  }

  input[name="search"] {
	    width: 100%;
	    border: 1px solid #d6d6d6;
	    margin: 0em 0.1em;
	    padding: 0.4em 1em;
	    border-radius: 6px;
	    position: relative;
	    box-sizing: border-box;
  }

  input {
	  outline: none;
  }

  .input-search {
	padding: 0.5em;
  }


.search-chat, .attachment, .chat-settings {
	margin: 0em 0.5em;
  }

  .status, .new-chat, .settings {
	margin: 0em 0.5em;
  }

  .chat-sender-name {
	margin-left: 1em;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
  }



.fallback-chat-window {
	height: 100%;
	background-color: #f8f9fb;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .fallback-content-wrapper {
	max-width: 356px;
  }

  .phone-connected-message {
	text-align: center;
	font-size: 1.8em;
	margin-top: 1em;
  }


  .extra-info-message {
	text-align: center;
	font-size: 0.9em;
	margin-top: 1em;
	color: grey;
  }

  .username span {
	font-size: 1em;
	font-weight: 600;
  }

  .latest-msg span {
	font-size: 0.9em;
	color: #686868;
  }

  [data-prefix='fas'] {
	  cursor: pointer;
  }


  .emoji-btn, .voice-btn, .send-btn {
	text-align: center;
  }

  button {
	border: none;
  }

