.chat-container {
	max-width: 70em;
	margin: 10px auto;
	display: grid;
	grid-template-columns: 30% 70%;
}


.profile-wrapper {
	display: flex;
	justify-content: space-between;


}


.search-wrapper {
	display: flex;
}

.userStrip-Wrapper {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.avatar img {
	vertical-align: middle;
	height: 2em;
	width: 2em;
	border-radius: 50%;
}

.profile-img img {
	vertical-align: middle;
	height: 1.8em;
	width: 1.8em;
	border-radius: 50%;
}

.chat-sender-img img {
	vertical-align: middle;
	height: 1.8em;
	width: 1.8em;
	border-radius: 50%;
}

.chat-sender-profile {
	display: flex;
}

.sender-options-wrapper {
	display: flex;
}

.chat-profile-wrapper {
	display: flex;
	justify-content: space-between;
}

.chat-wrapper {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
}

.options-wrapper {
	display: flex;
}